#blue {
    background-color: #093183;
    padding: 20px;
}

.orange {
    background-color: #b46c2b;
    padding: 10px;
    width: 400px;
    color: #2ebe1a;
    margin-bottom: 10px;
}

.green {
    background-color: #2ebe1a;
    padding: 80px;
}

.black {
    background-color: #000000;
    padding: 20px;
    margin: 30px;
}

.txt {
    background-color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}