body {
    background-color: #ff2222;
    padding: 30px;
}

#blue {
    background-color: #3a74f6;
    padding: 10px;
}

.orange {
    background-color: #e06b2c;
    padding: 10px;
    color: #2ebe1a;
    margin-left: 10px;
}

.green {
    background-color: #00ff00;
    padding: 80px;
}
