body {
    color: #772233;
    margin: 10px;
}

.orange {
    background-color: #ff6600;
    padding: 20px;
    margin: 50px;
}

#blue{
    background-color: #0a1e77;
    padding: 20px;
    margin: 10px;
}

.black {
    background-color: #000000;
    padding: 20px;
    margin: 30px;
}

.green {
    background-color: #2ebe1a;
    padding: 20px;
    margin: 10px;
}
